= form_with model: task, local: true do |f|
  .form-group
    = f.label :name, '任務名稱'
    = f.text_field :name, class: 'form-control', style: 'width: auto;'
  %br 
  .form-group
    = f.label :description, '任務說明'
    = f.text_area :description, class: 'form-control', style: 'width: auto;'
  %br
  .form-group 
    = f.label :avatar, '選擇檔案'
    = f.file_field :avatar, class: 'form-control'
  %br
  = f.submit nil, class: 'btn btn-primary'  