%h1 任務詳情

.nav.justify-content-end
  = link_to('任務列表', tasks_path, class: 'nav-link')
%table.table.table-hover
  %tbody
    %tr
      %th= Task.human_attribute_name(:id)
      %td= @task.id
    %tr
      %th= Task.human_attribute_name(:name)
      %td= @task.name
    %tr
      %th= Task.human_attribute_name(:description)
      %td= @task.description
    %tr
      %th= Task.human_attribute_name(:created_at)
      %td= @task.created_at
    %tr
      %th= Task.human_attribute_name(:updated_at)
      %td= @task.updated_at  
    %tr 
      %th= Task.human_attribute_name(:image)
      %td= image_tag @task.image.variant(resize: '150x150') if @task.image.attached?
      
= link_to('編輯', edit_task_path, class: 'btn btn-primary mr-3')
= link_to('刪除', @task, method: :delete, data: { confirm: "確定刪除 「#{@task.name}」?"}, class: 'btn btn-danger')